@import '../utils/variables.scss';
@import '../utils//mixins.scss';

%footer-bar-basic{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:15vh;
   
    color:white;
}

.footer{
   @extend %footer-bar-basic;
    background: $footer;
}