.headerBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right top, #c9f9ff, #aaf0fd, #87e7fc, #5dddfd, #00d3ff);
    img{
        width: 200px;
        opacity: 85%;
        margin-left: 30px;
    }
    h2{
        margin: 10px;
        font-size: 40px;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    .headerBar{
        display: block;
        border: solid 3px;
        border-color: #0fadcd;
        background-image: linear-gradient(to right top, #c9f9ff, #aaf0fd, #87e7fc, #5dddfd, #00d3ff);
        h2{
            display: none;
        }
        img{
            margin-left: 0px;
        }
        
    }

}